<footer class=" text-light py-4">
  <div class="container">
    <div class="row">
      <!-- Company Info -->
      <div class="col-md-4 mb-3">
        <img src="gkglogo.png" alt="GKG Information Technology Logo" />
        <div class="cont">
          <p>admingkginfotech.com</p>
          <p>1203, Damac XL Business Tower,<br> Business Bay, Marasi Drive, Dubai, UAE.</p>
        </div>
      </div>

      <!-- Navigation Links -->
      <div class="col-md-4 mb-3">
        <h5>Navigation</h5>
        <ul class="list-unstyled">
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="" routerLinkActive="active text-dark-warning" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="services" routerLinkActive="active text-dark-warning">Services</a>
          </li>
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="about-us" routerLinkActive="active text-dark-warning">About Us</a>
          </li>
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="contact-us" routerLinkActive="active text-dark-warning">Contact Us</a>
          </li>
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="career" routerLinkActive="active text-dark-warning">Career</a>
          </li>
        </ul>
      </div>

      <!-- Services Links -->
      <div class="col-md-4 mb-3">
        <h5>Our Services</h5>
        <ul class="list-unstyled">
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="web-design" routerLinkActive="active text-dark-warning">Web & Graphics Designing</a>
          </li>
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="web-app" routerLinkActive="active text-dark-warning">Web App Development</a>
          </li>
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="mobile-app" routerLinkActive="active text-dark-warning">Mobile App Development</a>
          </li>
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="ecommerce" routerLinkActive="active text-dark-warning">E-Commerce</a>
          </li>
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="digital-marketing" routerLinkActive="active text-dark-warning">Digital Marketing</a>
          </li>
          <li class="ms-4">
            <span style="color: red;">&gt;</span>&nbsp;<a class="text-warning text-decoration-none" routerLink="seo" routerLinkActive="active text-dark-warning">SEO</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="socicons">
    <div class="line"></div>
  <div class="social-icons">
    <a href="https://www.facebook.com/profile.php?id=61570357213129" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/gkginfotech/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/gkg-information-technology/posts/?feedView=all" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-x-twitter"></i></a>
  </div>
    <div class="line"></div>
  </div>
  <div class="text-center p-3">
    &copy; 2024 IT Services Company. All rights reserved.
  </div>
</footer>
