<div class="modal fade show d-block" tabindex="-1">
<div class="modal-dialog">
<div class=" modal-content ">
    <button class="close-btn" (click)="closeDialog()">✖</button>

    <h3 class="text-center" style="margin: 29px;">Graphic Design Process</h3>

    <img src="/graphic-dialog.png" class="process-img" alt="Web Design Process" style="margin-bottom: 29px;">

    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>1. Clinet Brief:</mat-panel-title>
        </mat-expansion-panel-header>
        <p style="font-size: 10px;">The first step in the design process is understanding the client's vision, goals, and requirements. This includes discussing brand identity, target audience, preferred style, and project objectives to ensure a clear direction.</p>
       </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>2. Research & Inspiration:</mat-panel-title>
        </mat-expansion-panel-header>
        <P>We conduct thorough research on industry trends, competitor designs, and creative inspirations. This phase helps in gathering ideas, color palettes, typography styles, and layout preferences that align with the brand’s identity. </P>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>3. Concept Development:</mat-panel-title>
        </mat-expansion-panel-header>
        <P>Based on the research, we create multiple design concepts, exploring different styles, compositions, and visual elements. This phase helps in brainstorming innovative ideas and selecting the best design approach.</P>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>4. Design Execution:</mat-panel-title>
        </mat-expansion-panel-header>
        <P>Once the concept is finalized, our designers bring the vision to life using professional tools. This involves crafting high-quality graphics, refining details, and ensuring a visually compelling design that meets the client’s needs.</P>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>5. Client Feedback:</mat-panel-title>
        </mat-expansion-panel-header>
        <P>We share the initial designs with the client for review and gather feedback. Any necessary revisions or adjustments are made based on client preferences to ensure the final design aligns perfectly with their expectations.</P>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>6. Final Refinements:</mat-panel-title>
        </mat-expansion-panel-header>
        <P>After incorporating feedback, we fine-tune the design by making last-minute adjustments to colors, typography, alignment, and overall aesthetics. The final polished design is then delivered in various formats ready for use.</P>
      </mat-expansion-panel>
    </mat-accordion>

    <button mat-raised-button color="primary" class="work-btn" (click)="openDialog1()">Let's Work Together</button>
  </div>
</div>
</div>
