
.modal-content {
  background: white;
  border-radius: 12px;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  // position: relative;
  text-align: center;
}

.process-img {
  width: 100%;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.work-btn {
  margin-top: 20px;
  width: 100%;
}
