.modal-content {
  background: white;
  border-radius: 12px;
  padding: 20px;
  padding-right: 30px; /* Add extra padding to avoid overlapping with scrollbar */
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.process-img {
  width: 100%;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.work-btn {
  margin-top: 20px;
  width: 100%;
}

/* Scrollable content container */
.scrollable-content {
  max-height: 400px; /* Adjust this value as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 10px; /* Add some padding to avoid content touching the scrollbar */
}
