.custom-form-card {
  max-width: 400px; /* Reduce width */
  height: 580px; /* Increase height */
  border-radius: 32px;
}

.h1tag
{
  font-size: 4.2rem;

}
.ptag{
  font-size: 1.2rem;
}
.input-group-text {
  background: #f8f9fa;
  border-right: none;
}

.form-control, .form-select {
  border-left: none;
  border-radius: 10px;
  font-size: 1.1rem;
}

textarea {
  resize: none;
  height: 120px; /* Increase message box height */
}

.btn-primary {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}
.full-bg {
  background-color: #f5e6ff; // Set background color
  min-height: 100vh; // Full screen height
  width: 100vw; // Full screen width
  display: flex;
  align-items: center;
  justify-content: center;

}

// Form Container Styling
.contaa {
  max-width: 1100px; // Adjust as needed
  width: 100%;
  padding: 30px;
}
h1
{
  font-weight: 800px;
}
p
{
  font-weight: 500px;
}
.contact-card {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.contact-icon {
  font-size: 30px;
  color: rgba(102,76,150,1);
  margin-bottom: 10px;
}
