<div class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog">
  <div class=" modal-content ">
      <button class="close-btn" (click)="closeDialog()">✖</button>

      <h3 class="text-center" style="margin: 29px;">Web Development</h3>

      <img src="/webdev-dialog.png" class="process-img" alt="Web Design Process" style="margin-bottom: 29px;">

      <mat-accordion>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>1. Discovery Phase:</mat-panel-title>
          </mat-expansion-panel-header>
          <p style="font-size: 10px;">We begin by understanding your business goals, target audience, and technical requirements. This phase includes market research, competitor analysis, and planning the website structure to ensure a solid foundation.
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>2. Wireframes & Protyping:</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Before development starts, we create wireframes and interactive prototypes to define the website layout and user flow. This step ensures clarity in design and functionality before moving to the development phase.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>3. Design & Visual Aesthetics:</mat-panel-title>
          </mat-expansion-panel-header>
          <p>We craft visually appealing designs that align with your brand identity. This includes selecting color schemes, typography, icons, and UI elements to enhance user experience and engagement.

          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>4. Responsive Design:</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Ensuring a seamless user experience across all devices, including desktops, tablets, and mobile phones. A responsive design improves accessibility, search rankings, and usability.

          </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>5. User Experience(UX) Design:</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Optimizing user interactions and navigation to create an intuitive and user-friendly website. We focus on usability, functionality, and engagement to keep visitors interested and drive conversions.

          </p>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>6. Development Collaboration:</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Our designers and developers work closely to bring the designs to life using the latest technologies and coding best practices. We ensure smooth functionality, fast performance, and scalability for future growth.</p>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-raised-button color="primary" class="work-btn" (click)="openDialog1()">Let's Work Together</button>
    </div>
  </div>
</div>
